src/main/resources/ihe/wsdl/XDS.b_DocumentRegistry.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ihe="urn:ihe:iti:xds-b:2007" xmlns:query="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" xmlns:hl7="urn:hl7-org:v3" xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" targetNamespace="urn:ihe:iti:xds-b:2007" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" name="XDS-b_DocumentRegistry">
	<documentation>IHE XDS.b Document Registry</documentation>
	<types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:ihe:iti:xds-b:2007">
			<xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" schemaLocation="../schema/ebRS/query.xsd"/>
			<xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" schemaLocation="../schema/ebRS/rs.xsd"/>
			<xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" schemaLocation="../schema/ebRS/lcm.xsd"/>
			<xsd:import namespace="urn:hl7-org:v3" schemaLocation="../schema/HL7V3/multicacheschemas/PRPA_IN201301UV.xsd"/>
			<xsd:import namespace="urn:hl7-org:v3" schemaLocation="../schema/HL7V3/multicacheschemas/PRPA_IN201302UV.xsd"/>
			<xsd:import namespace="urn:hl7-org:v3" schemaLocation="../schema/HL7V3/multicacheschemas/PRPA_IN201304UV.xsd"/>
			<xsd:import namespace="urn:hl7-org:v3" schemaLocation="../schema/HL7V3/multicacheschemas/MCCI_IN000002UV01.xsd"/>
		</xsd:schema>
	</types>
	<message name="RegistryStoredQuery_Message">
		<documentation>Registry Stored Query</documentation>
		<part name="body" element="query:AdhocQueryRequest"/>
	</message>
	<message name="RegistryStoredQueryResponse_Message">
		<documentation>Registry Stored Query Response</documentation>
		<part name="body" element="query:AdhocQueryResponse"/>
	</message>
	<message name="RegisterDocumentSet-b_Message">
		<documentation>Register Document Set - b</documentation>
		<part name="body" element="lcm:SubmitObjectsRequest"/>
	</message>
	<message name="RegisterDocumentSet-bResponse_Message">
		<documentation>Register Document Set - b Response</documentation>
		<part name="body" element="rs:RegistryResponse"/>
	</message>
	<message name="PRPA_IN201301UV_Message">
		<part name="body" element="hl7:PRPA_IN201301UV"/>
	</message>
	<message name="PRPA_IN201302UV_Message">
		<part name="body" element="hl7:PRPA_IN201302UV"/>
	</message>
	<message name="PRPA_IN201304UV_Message">
		<part name="body" element="hl7:PRPA_IN201304UV"/>
	</message>
	<message name="MCCI_IN000002UV01_Message">
		<part name="body" element="hl7:MCCI_IN000002UV01"/>
	</message>
	<portType name="DocumentRegistry_PortType">
		<operation name="DocumentRegistry_RegisterDocumentSet-b">
			<input message="ihe:RegisterDocumentSet-b_Message" wsaw:Action="urn:ihe:iti:2007:RegisterDocumentSet-b"/>
			<output message="ihe:RegisterDocumentSet-bResponse_Message" wsaw:Action="urn:ihe:iti:2007:RegisterDocumentSet-bResponse"/>
		</operation>
		<operation name="DocumentRegistry_RegistryStoredQuery">
			<input message="ihe:RegistryStoredQuery_Message" wsaw:Action="urn:ihe:iti:2007:RegistryStoredQuery"/>
			<output message="ihe:RegistryStoredQueryResponse_Message" wsaw:Action="urn:ihe:iti:2007:RegistryStoredQueryResponse"/>
		</operation>
		<operation name="DocumentRegistry_PRPA_IN201301UV">
			<input message="ihe:PRPA_IN201301UV_Message" wsaw:Action="urn:hl7-org:v3:PRPA_IN201301UV"/>
			<output message="ihe:MCCI_IN000002UV01_Message" wsaw:Action="urn:hl7-org:v3:MCCI_IN000002UV01"/>
		</operation>
		<operation name="DocumentRegistry_PRPA_IN201302UV">
			<input message="ihe:PRPA_IN201302UV_Message" wsaw:Action="urn:hl7-org:v3:PRPA_IN201302UV"/>
			<output message="ihe:MCCI_IN000002UV01_Message" wsaw:Action="urn:hl7-org:v3:MCCI_IN000002UV01"/>
		</operation>
		<operation name="DocumentRegistry_PRPA_IN201304UV">
			<input message="ihe:PRPA_IN201304UV_Message" wsaw:Action="urn:hl7-org:v3:PRPA_IN201304UV"/>
			<output message="ihe:MCCI_IN000002UV01_Message" wsaw:Action="urn:hl7-org:v3:MCCI_IN000002UV01"/>
		</operation>
	</portType>
	<binding name="DocumentRegistry_Binding_Soap11" type="ihe:DocumentRegistry_PortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="DocumentRegistry_RegisterDocumentSet-b">
			<soap:operation soapAction="urn:ihe:iti:2007:RegisterDocumentSet-b"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="DocumentRegistry_RegistryStoredQuery">
			<soap:operation soapAction="urn:ihe:iti:2007:RegistryStoredQuery"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="DocumentRegistry_PRPA_IN201301UV">
			<soap:operation soapAction="urn:hl7-org:v3:PRPA_IN201301UV"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="DocumentRegistry_PRPA_IN201302UV">
			<soap:operation soapAction="urn:hl7-org:v3:PRPA_IN201302UV"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="DocumentRegistry_PRPA_IN201304UV">
			<soap:operation soapAction="urn:hl7-org:v3:PRPA_IN201304UV"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<binding name="DocumentRegistry_Binding_Soap12" type="ihe:DocumentRegistry_PortType">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="DocumentRegistry_RegisterDocumentSet-b">
			<soap12:operation soapAction="urn:ihe:iti:2007:RegisterDocumentSet-b"/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
		</operation>
		<operation name="DocumentRegistry_RegistryStoredQuery">
			<soap12:operation soapAction="urn:ihe:iti:2007:RegistryStoredQuery"/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
		</operation>
		<operation name="DocumentRegistry_PRPA_IN201301UV">
			<soap12:operation soapAction="urn:hl7-org:v3:PRPA_IN201301UV"/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
		</operation>
		<operation name="DocumentRegistry_PRPA_IN201302UV">
			<soap12:operation soapAction="urn:hl7-org:v3:PRPA_IN201302UV"/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
		</operation>
		<operation name="DocumentRegistry_PRPA_IN201304UV">
			<soap12:operation soapAction="urn:hl7-org:v3:PRPA_IN201304UV"/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="DocumentRegistry_Service">
		<port name="DocumentRegistry_Port_Soap11" binding="ihe:DocumentRegistry_Binding_Soap11">
			<soap:address location="http://xds.marc-hi.ca:1025/xdsservice/xdsregistry"/>
		</port>
		<port name="DocumentRegistry_Port_Soap12" binding="ihe:DocumentRegistry_Binding_Soap12">
			<soap12:address location="http://xds.marc-hi.ca:1025/xdsservice/xdsregistry"/>
		</port>
	</service>
</definitions>
